In [2]:
import pandas as pd

In [8]:
# memilih spesifik kolom
# Mengembalikan dalam bentuk Series dengan menggunakan one squared bracket [nama_kolom]
# Mengembalikan dalam bentuk DataFrame dengan menggunakan two squared bracket [[nama_kolom]]

# syntax
# mengembalikan dalam bentuk Series
# data[nama_kolom]

# mengembalikan dalam bentuk DataFrame
# data[[nama_kolom]

supermarket_data = pd.read_csv('supermarket_sales.csv')
supermarket_data.head(3)

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
0,750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7,26.1415,548.9715,1/5/2019,13:08,Ewallet,522.83,4.761905,26.1415,9.1
1,226-31-3081,C,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3.8200,80.2200,3/8/2019,10:29,Cash,76.40,4.761905,3.8200,9.6
2,631-41-3108,A,Yangon,Normal,Male,Home and lifestyle,46.33,7,16.2155,340.5255,3/3/2019,13:23,Credit card,324.31,4.761905,16.2155,7.4

In [34]:
# select data mengembalikan dalam bentuk series
supermarket_data["City"]

TypeError: list indices must be integers or slices, not str

In [32]:
# select data mengembalikan dalam bentuk dataframe
supermarket_data[["Product line"]]

TypeError: list indices must be integers or slices, not list

In [36]:
# Cara untuk memilih beberapa kolom di pandas mirip dengan kita memilih spesifik kolom seperti di sebelumnya
# Tetapi perbedaannya adalah jika memilih beberapa kolom hanya bisa mengembalikan data dalam bentuk DataFrame saja
# Sehingga untuk memilih beberapa kolom pada pandas, kita membutuhkan double squared bracket [[]]

SELECTED_COLS = ["Branch", "City", "Date", "Time"]
new_supermarket_data = supermarket_data[SELECTED_COLS]
new_supermarket_data

TypeError: list indices must be integers or slices, not list